{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "esmodules": true,
          "android": 4,
          "ios": 8,
          "ie": 11
        }
      }
    ]
  ]
}
