{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 2,
        "targets": {
          "android": "4",
          "ios": "8",
          "ie": "11"
        }
      }
    ]
  ]
}
